@import "vars"
@import "fonts"
@import "libs"



a
	color: #316995
.menu
	ul
		li
			list-style: none
			.icon
				margin: auto 0
				margin-right: 8px
			a
				margin: auto 0
				font-size: 16px
				color: $text
				font-weight: 500
				text-decoration: none
				&:hover
					color: $accent

body
	padding-top: 0

.header
	height: 174px
	position: relative
	width: 100%
	background-color: #fff
	z-index: 10
	.search-zoom
		cursor: pointer
		width: 16px
		height: 16px
		display: none
		position: absolute
		svg
			width: 16px
			height: 16px
	.phone
		font-size: 16px
		font-weight: 500
		left: 440px
		top: 51px
		position: absolute
		a
			text-decoration: none
			color: #000
			&:hover
				color: $accent
	.location
		font-size: 16px
		display: flex
		line-height: 17px
		position: absolute
		left: 278px
		top: 54px
		cursor: pointer
		&__icon
			width: 11px
			height: 17px
			margin-right: 5px
			svg
				width: 11px
				height: 17px
		&__city
			color: #296193
			font-weight: 500
			text-decoration: underline
	.header-1
		height: 112px
		box-shadow: 0px 22px 30px 0px rgba(0, 0, 0, 0.03)
	.header-2
		height: 62px
		.form-search
			right: 15px
			top: 11px
			position: absolute
	.container
		position: relative
	.payments
		display: flex
		line-height: 31px
		right: 15px
		top: 47px
		position: absolute
		img
			display: inline-block
			margin-right: 20px
		a
			font-size: 16px
			color: #000000
			text-decoration: underline
			&:hover
				text-decoration: none
	.call-back
		display: flex
		font-size: 16px
		color: #000101
		font-weight: 500
		line-height: 16px
		position: absolute
		top: 55px
		left: 580px
		transition: .3s ease color
		text-decoration: none
		.icon
			margin-right: 12px
		div

		&:hover
			color: $accent
	.logo
		width: 247px
		height: 57px
		display: block
		position: absolute
		top: 23px
		left: 15px
		transition: none
		svg
			width: 247px
			height: 57px
	&__menu
		padding-right: 300px
		user-select: none
		a
			transition: .3s ease
			text-decoration: none
			&:hover
				color: $accent
		>ul
			display: flex
			margin-bottom: 0
			>li
				margin-right: 25px
				list-style: none 
				padding-top: 19px
				padding-bottom: 19px
				position: relative
				&.has-sub
					padding-right: 20px
					position: relative
					&:after
						position: absolute
						right: 0
						top: 50%
						margin-top: -4.5px
						content: ''
						display: block
						width: 16px
						height: 7px
						background-position: 0 0
						background-repeat: no-repeat
						background-image: url(../img/arr.png)
				>a
					font-size: 16px
					text-transform: uppercase
					font-weight: 500
					color: #000000
					text-decoration: none

				ul
					display: none
					position: absolute
					top: 62px
					left: 0
					background: #fff
					padding-left: 28px
					padding-right: 28px
					padding-top: 20px
					padding-bottom: 20px
					box-shadow: 0px 5px 54px 0px rgba(0, 0, 0, 0.05)
					li
						list-style: none 
						margin: 0.5em 0
						a
							font-size: 18px
							color: #000000
							font-weight: 500
							white-space: nowrap

				&:hover
					&.has-sub
						&:after
							transform: rotate(180deg)
					ul
						display: block
							


			
	&__link
		font-size: 16px
		color: $text
		font-weight: 500
		position: absolute
		right: 15px
		top: 72px
		a
			color: $text
			text-decoration: none
			&:hover
				color: $accent


.header-short
	padding-top: 174px
	.header
		height: 60px
		position: fixed
		width: 100%
		top: -100%
		left: 0
		.menu-toggler
			display: block
			right: 15px
			top: 17px
			position: absolute
		.header-1
			height: 60px
			.logo
				height: 37px
				width: 160px
				top: 4px
				svg
					height: 37px
					width: 160px
		
		.location
			top: 24px - 3px
			left: 278px - 60px
		.phone
			top: 21px - 3px
			left: 440px - 60px
		.payments
			top: 17px - 3px
			right: 15px + 60px
		.call-back
			left: 580px - 60px
			top: 25px - 3px

		.header-2
			height: 40px
			display: none
			background-color: #fff
			box-shadow: 0px 22px 30px 0px rgba(0, 0, 0, 0.03)
			.form-search
				top: 4px
		&__menu
			>ul
				>li
					padding-top: 8px
					padding-bottom: 8px
					ul
						top: 40px

.menu-short-openned
	.header
		.header-2
			display: block

.section_intro
	background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(245,247,250,1) 100%)
	.logo
		width: 158px
		height: 132px
		svg
			width: 158px
			height: 132px

	.row
		min-height: 625px
		position: relative
	.col
		flex-wrap: wrap

	.more-link
		position: absolute
		bottom: 55px
		left: 15px
		font-family: $third-font
	.container
		position: relative

	.tile-slider
		position: absolute
		left: 417px
		top: 47px


.section_intro-2
	width: 100%
	overflow-x: hidden
	position: relative
	min-height: 516px
	.img-present
		position: relative
		z-index: 4
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 50%
		margin-left: 100px
		width: 549px
		height: 516px
		background-image: url(../img/figure.png)
		background-repeat: no-repeat
		background-position: 0 0
		z-index: 2
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 50%
		margin-left: 100px
		width: 100%
		height: 516px
		background-color: #dde8f0

.section_capture
	background-image: url(../img/bg-capture.jpg)
	background-repeat: no-repeat
	background-position: top center
	.form
		margin-top: 110px
		width: 500px
		background-color: #fff
		margin-left: 15px
		padding: 45px
		box-shadow: -33px 24px 30px 0px rgba(0, 0, 0, 0.04)
.section_payment
	img
		position: relative
		z-index: 3
	.alert
		margin-top: 110px

.section_pension
	.row-btns
		.btn
			margin-left: 10px
			margin-right: 10px

.more-link
	font-size: 14px
	font-weight: 500
	line-height: 1.5
	color: #076698
	display: inline-block
	padding-right: 24px
	position: relative
	text-decoration: none
	transition: .3s ease
	.icon
		width: 16.6px
		height: 11px
		position: absolute
		right: 0
		top: 50%
		margin-top: -5.5px
		fill: #076698

	&:hover
		color: $accent
		.icon
			fill: $accent

.section_feedback
	.col-btn-more
		text-align: right


.section_features
	.features-wrapper
		position: relative
		margin-top: 50px
		.features
			position: relative
			z-index: 10
		.features-bg
			position: absolute
			top: 0
			left: 0
			width: 100%
			svg
				width: 100%
				height: 326px
				fill: #f2f7fa
.menu-wrapper
	box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.04)
	height: 100%
	position: fixed
	top: 65px
	left: 0
	width: 100%
	z-index: 11
	background-color: #fff
	display: none
	&__inner
		width: 100%
		display: flex
		overflow-y: auto
	.menu
		margin: auto
		width: 100%
		text-align: center
		li
			padding-top: 5px
			padding-bottom: 5px
			a
				width: 100%
				color: $accent
			
.section_intro-payment
	background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(245,247,250,1) 100%)
	.container
		position: relative
		z-index: 2

.footer
	.soc
		&__item
			margin-right: 20px
			a
				svg
					max-width: 20px
					height: 20px	
					fill: #d7d7d7
				&:hover
					svg
						fill: $accent
	&__heading
		font-size: 18px
		font-weight: 500
		color: #000
		a
			font-size: 18px
			font-weight: 500
			color: #000
			text-decoration: none
			&:hover
				color: $accent
	&__link
		font-size: 14px
		color: #316995
		a
			color: #316995
			text-decoration: none
	&__logo
		width: 123px
		svg
			width: 123px
	&__menu
		ul
			li
				list-style-type: none
				margin: 0.25em 0
				a
					text-decoration: none
					font-size: 16px
					color: #000
					transition: .3s ease
					&:hover
						color: $accent

.section_progs
	.row-border
		border-bottom: 1px solid #e3e3e3

@import "media" // Always at the end
